@mixin cardstyle {
    background-color: $beige-color;
    border-radius: 1rem;
    img{
        width: 12rem;
        height:16rem;
        margin: auto;
        object-fit: cover;
        border-radius: 1rem;
    }
    .btn-css{
        background-color: $medium-green;
        color: white;
    }
}