@import'./variables';
@import'./mixings';
.body-css{
    background-color: $light-green;
    .container-css{
        .row-css{
            // .col-css{
                .navbar-css{
                  background-color: $light-green;
                  border-bottom: solid 8px $beige-color ;
                  .fluid-css{
                    .font-css{
                        color: white;
                    }
                    .navbar2-css{
                        .form-css{
                          .btn-css{
                            background-color: $beige-color;
                          }
                        }
                    }
                  }
                }
                
            // }
        }
        .secondrow-css{
            display: flex;
            align-items: center;
            justify-content: center;

            .carousel-inner-css{
               
                border-radius: 20px;
            }
        }
        .thirdrow-css{
            margin-top: 60px;
             
              
              }
              .fourthrow-css{
                .coming-soon{
                    width: 100%;
                    height: 50px;
                    margin: 60px 0px;
                    background-color: $beige-color;
                    font-size: 1.8rem ;
                }
                .card-css{
                  @include cardstyle;
                }
              }
              .fifthrow{
                margin-top: 60px;
                background-color: $beige-color;
              
                height: 10rem;
               .restrictions{
                p{
                  font-size: xx-small;
                }
               }
                
              }
        
    }
}
.card-css{
  background-color: $beige-color;
  width: 14rem;
  img{
      width: 12rem;
      height:16rem;
      margin: auto;
      object-fit: cover;
      border-radius: 1rem;
  }
  .btn-css{
      background-color: $medium-green;
      color: white;
  }
//  @include cardstyle; 
}

.top10{
  width: 100%;
  height: 50px;
  margin: 60px 0px;
  background-color: $beige-color;
  font-size: 1.8rem ;
}