@import'./variables';
@import'./mixings';
.body-css{
    background-color: $light-green;
    .container-css{
        .row-css{
            // .col-css{
                .navbar-css{
                  background-color: $light-green;
                  border-bottom: solid 8px $beige-color ;
                  .fluid-css{
                    .font-css{
                        color: white;
                    }
                    .navbar2-css{
                      background-color: $medium-green;
                        .form-css{
                          .btn-css{
                            background-color: $beige-color;
                          }
                        }
                    }
                  }
                }
                
            // }
        }
        .secondrow-css{
            display: flex;
            align-items: center;
            justify-content: center;

            .carousel-inner-css{
               
                border-radius: 20px;
            }
        }
        .thirdrow-css{
            margin-top: 60px;
             .top10{
                width: 100%;
                height: 50px;
                margin: 60px 0px;
                background-color: $beige-color;
                font-size: 1.8rem ;
             }
                .card-css{
                 @include cardstyle; 
                }
              }
              .fourthrow-css{
                .coming-soon{
                    width: 100%;
                    height: 50px;
                    margin: 60px 0px;
                    background-color: $beige-color;
                    font-size: 1.8rem ;
                }
                .card-css{
                  @include cardstyle;
                }
              }
              .fifthrow{
                margin-top: 60px;
                background-color: $beige-color;
              
                height: 10rem;
                .connections{
                  .us{
                    text-decoration: none;
                    color:$medium-green;
                  }
                }
               .restrictions{
                p{
                  font-size: xx-small;
                }
               }
                
              }
        
    }
}

