@import'./variables';
@import'./mixings';

.body-css{
    background-color:$light-green ;
    height: 100%;
    .container-css{
        height: 100%;
        .row-css{
            margin-top: 2rem;
                .card-css{
                    background-color: $beige-color;
                  
                    img{
                      
                        height:16rem;
                        margin: auto;
                        object-fit: cover;
                        border-radius: 1rem;
                    }
                   .card-body{
                    .btn-css{
                        background-color: $medium-green;
                        color: white;
                    }
                   }
                }
            
        }
    }
}